table tr{

	font-weight: bold;

}

<<<<<<< HEAD
=======
h3{
    background-color: blue;
    color: white;
    text-align: center;
}

.hide{

    visiblity: hidden;
}

>>>>>>> 04ae4db3ad4f4f7ca074b2614435103bd1da9738
img {
    -webkit-filter: grayscale(100%); 

    filter: grayscale(100%);
}

<<<<<<< HEAD
=======
a:link, a:visited{
background-color: #f44336;
color: white;
padding: 14px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
border-radius: 60px;


}

a:hover, a:active{
background-color: red;
color: white;

}

>>>>>>> 04ae4db3ad4f4f7ca074b2614435103bd1da9738
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
<<<<<<< HEAD
    color: yellow;
=======
    color: blue;
>>>>>>> 04ae4db3ad4f4f7ca074b2614435103bd1da9738
    text-decoration: none;
}

/* mouse over link */
<<<<<<< HEAD
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: blue;
}
=======
/*a:hover {
    color: red;
}

 selected link 
a:active {
    color: blue;
}*/
>>>>>>> 04ae4db3ad4f4f7ca074b2614435103bd1da9738

body{

	background-image: url("http://valvewz.com/i/captain-america-wallpaper-desktop-background-1rpb.jpg");
	background-attachment: fixed; 
}

table tr th{
	border: solid white;
	color: white;
}

table tr td{
	border: solid white;
	color: white;

<<<<<<< HEAD
=======
}
.photo{
    border-color: white;
    border-style: solid;
    border-width: 3px;
       

>>>>>>> 04ae4db3ad4f4f7ca074b2614435103bd1da9738
}